div.region-tree-node {
    height: 30px;
    width: 100%;
    &:hover {
        background-color: lightgray;
    }
    p {
        color: #222;
    }

    .readonly {
        background-color: transparent;
        border: none;
    }
}

div.child {
    background-color: indianred;
}

.hidden {
    display: none;
}

.selected {
    background-color: lightblue;
    &:hover {
        background-color: lightblue !important;
    }
}